
.card{
    border: 1px solid #00000021;
    width: 36%;
    /* width: 31.3333%; */
    margin-right: 30px;
    padding: 20px;
    position: relative;
  
}
.card-image{
height: auto;
width: 100%;
 margin-top: 20px; 

}
.card_title{
    padding-bottom: 20px;
    color: #333;
    line-height: 1.5em;
    font-size: 19px;

}
/* 
.card_btn{
    padding: 05px;

    padding-left: 22px;
    padding-right: 22px;
    margin-top: 20px;
    color: #272727!important;
    border-width: 1px!important;
    border-color: #d3d3d3;
    font-size: 17px;
    display: inline-block;
    font-family: 'Roboto-Light',sans-serif;
    line-height: 1.7em!important;
} */

p{
    font-family: Roboto,sans-serif!important;
    font-weight: 300!important;
    line-height: 1.9!important;
    font-size: 16px;


}
h2{
    line-height: 1.4em;
    color: #333;
    font-family: Roboto,sans-serif!important;
    font-weight: 400!important;
}