/* .container{
   
    height: 20px;
    padding: 20px;
 
    margin: 5px; 
    
} */
.taskcontainer{
     float: left; 
     width:200px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* margin-bottom: 5px; */
     /* border: 2px solid black; */
     padding: 8px;
     font-weight: bolder;
     font-style: italic;
     /* background-color: orchid */
    
}
/* .btn{
     float: right; 
     margin-bottom: 5px;
     cursor:pointer;
     margin-right: 40px;
     padding: 8px;
     background-color: aquamarine;
     font-weight: bolder;
} */